@page "/superheroes/home"
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager

<MudContainer Class="ma-4">
    <div class="d-flex ma-2 justify-center"> 
        <MudFab Color="Color.Primary" Label="Add" @onclick="@(() =>  { _navigationManager.NavigateTo("/superheroes/add"); })" />
    </div>
    <div class="d-flex flex-wrap justify-center">
        @foreach (var item in allHeroes)
        {
            <MudCard Width="250px" Class="ma-2">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">@item.Id</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">@item.Name</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardMedia Image="@item.ImageUrl" Height="250" />
                    <MudCardContent>
                        <MudText Typo="Typo.body2">Franchise - @item.Franchise</MudText>
                        <MudText Typo="Typo.body2">Gender - @item.Gender</MudText>
                    </MudCardContent>
                </MudCard>
        }
    </div>

   
</MudContainer>



@code {
    private List<SuperHeroesVM> allHeroes = new List<SuperHeroesVM>();

    protected override async Task OnInitializedAsync()
    {
        await GetAllSuperHeroesAsync();
    }

    private async Task GetAllSuperHeroesAsync()
    {
        allHeroes = await _httpClient.GetFromJsonAsync<List<SuperHeroesVM>>("/api/SuperHeroes");
    }
}
